files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 */3 * * * root /usr/local/bin/myscript.sh
 
  "/usr/local/bin/myscript.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
 
      # set cwd to folder where eb stored the app latest deploy
      # Note: you can use /opt/python/current/app/ as default path but I don't know if this changes depending on the version of python or linux you are using
      cd `find / -name "update_db.py" -exec dirname {} \;`
      
 
      source ../env  # this is where your env variables (configured on beanstalk) are stored
 
      # get python path
      py="/opt/python/run/venv/bin/python" # python location
      $py update_db.py
      exit 0
