{% extends "base.html" %}

{% block title %}WWPKL{% endblock %}

{% block content %}
  <div class="container">
    <h2>{{ season }} Roto Standings</h2>
    <form method="POST" class="form-inline" role="form" id="lb_form">
      <div class="row mb-3">
        <div class="col-sm-4">
          <select id='season' name='season' onchange="this.form.submit()" class="form-select form-select-sm mb-3">
            {% for year in available_years %}
            <option value="{{ year }}" {{ 'selected' if season == year }}>{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4">
          <select id='cat' name='cat' onchange="this.form.submit()" class="form-select form-select-sm">
            {% for category in categories %}
            <option value="{{ category }}" {{ 'selected' if sort == category }}>{{ category }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
    <div class="row mb-3">
      <div class="table-responsive">
        {{ tables[0]|safe }}
      </div>
    </div>
    <div class="row mb-3">
      <canvas id="bar-chart" width="1000" height="500"></canvas>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      new Chart(document.getElementById("bar-chart"), {
          type: 'bar',
          data: {
              labels: [{% for item in labels %}"{{ item|safe }}",{% endfor %}],
              datasets: [
                  {
                      label: "Batting Rank",
                      backgroundColor: '#D6E9C6',
                      data: [{% for item in batting_ranks %}{{ item }},{% endfor %}]
                  },
                  {
                      label: "Pitching Rank",
                      backgroundColor: '#FAEBCC',
                      data: [{% for item in pitching_ranks %}{{ item }},{% endfor %}]
                  }
              ]
          },
          options: {
              plugins: {
                  legend: { display: true },
                  title: { display: false, text: 'Roto Season Standings' },
              },
              scales: {
                  x: { stacked: true },
                  y: { stacked: true }
              },
              maintainAspectRatio: false,
          }
      });
  </script>
{% endblock %}
