{% extends "base.html" %}

{% block title %}WWPKL Rulebook{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-lg-9">

      <h1 class="mb-1">West Windsor-Plainsboro Keeper League</h1>
      <h2 class="mb-1">Baseball Rulebook</h2>
      <p class="text-muted mb-4">Commissioner: Andy Vogt &mdash; Updated March 2026</p>

      <section class="mb-5">
        <h3>Introduction</h3>
        <p>The WW-P Keeper Leagues (WWPKL) started in 2006 as a group of friends competing in many major fantasy sports keeper leagues including the MLB, NBA and NFL. In the beginning, Michael Voltmer was the fantasy baseball commissioner; Andy Vogt was the fantasy basketball commissioner; and Ethan Kaye was the fantasy football commissioner. Andy is now the commissioner of the baseball league, the sole focus of the WWPKL. More than 25 people from West Windsor or Plainsboro have participated in the league over time.</p>
        <p>The rulebook has gone through multiple iterations. The last major revisions were authored by an ad-hoc rules committee comprised of Jason Light, Ryan Phelan, Jared Rubenstein, Nick Schmidt, and Andy in 2024. Minor revisions were made prior to the 2026 season.</p>
        <p>All funds collected from entry fees are distributed to winners at the end of the season, and no member is paid for any services they provide to the league. Once your entrance fee is accepted, you are entitled to play in the league for the current year as long as you are respectful to the other league members.</p>
        <p>Though any manager may make roster decisions based on their future years' rosters, there is no guarantee that the manager will be asked to participate again. If a member voluntarily quits or leaves the league during the season, he is not entitled to any refunds.</p>
      </section>

      <section class="mb-5">
        <h3>Title I &ndash; The Least You Should Know</h3>
        <dl>
          <dt>100.</dt>
          <dd>The league consists of 12 teams, and the Commissioner has the authority to expand or contract the league based on the availability of league members and prospective members.</dd>

          <dt>101.</dt>
          <dd>The Commissioner has the authority to set an entrance fee at the beginning of each season. This money will make up the prize money that is paid out to the winners at the conclusion of the regular season. See Title II for more information. The entry fee for 2026 is $200.</dd>

          <dt>102.</dt>
          <dd>The prize money will be divided up, with the winner of the regular season receiving 35% of the total entry fee and second place receiving 15%. The winner of the playoffs will receive 35% and second place will receive 15%.</dd>

          <dt>103.</dt>
          <dd>Teams will play head-to-head each week, competing in 14 statistical categories that will be tallied up at the end of the week to provide an overall record of wins, losses, and ties.</dd>

          <dt>104.</dt>
          <dd>
            The following statistics are used to determine team performance:
            <div class="row mt-2">
              <div class="col-sm-6">
                <strong>Hitters</strong>
                <ul>
                  <li>Batting Average (BA)</li>
                  <li>On-Base + Slugging (OPS)</li>
                  <li>Home Runs (HR)</li>
                  <li>Runs Batted In (RBI)</li>
                  <li>Stolen Bases (SB)</li>
                  <li>Runs (R)</li>
                  <li>Hits (H)</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <strong>Pitchers</strong>
                <ul>
                  <li>Earned Run Average (ERA)</li>
                  <li>Walks + Hits Per Inning Pitched (WHIP)</li>
                  <li>Wins (W)</li>
                  <li>Losses (L)</li>
                  <li>Strikeouts (K)</li>
                  <li>Saves (S)</li>
                  <li>Holds (H)</li>
                </ul>
              </div>
            </div>
          </dd>

          <dt>105.</dt>
          <dd>At the end of the fantasy baseball regular season (approximately 3 weeks before the end of the MLB regular season), the top 6 teams will advance to the playoffs, while the bottom 6 will play in a consolation bracket. The 1st and 2nd place regular season finishers will have a bye week while the 3rd and 6th place teams, as well as the 4th and 5th place teams, face each other in the first round. The winner of the 3rd seed vs. 6th seed will play the 1st seed in the second round. The winner of the 4th seed vs. 5th seed will play against the 2nd seed. The final round will be comprised of the winner of the 1st seed vs. 3rd/6th seed and the 2nd seed vs. 4th/5th seed, and the winner of this matchup will be crowned the Playoff champion.</dd>

          <dt>106.</dt>
          <dd>
            A team&rsquo;s active roster will consist of 25 players and 3 Injured List spots:
            <ul class="mt-1">
              <li>1 Catcher</li>
              <li>1 First Baseman</li>
              <li>1 Second Baseman</li>
              <li>1 Third Baseman</li>
              <li>1 Shortstop</li>
              <li>3 Outfielders</li>
              <li>2 Utility Men (any hitter)</li>
              <li>2 Starting Pitchers</li>
              <li>2 Relief Pitchers</li>
              <li>3 Pitchers (any pitcher)</li>
              <li>8 Bench Spots</li>
            </ul>
          </dd>
        </dl>
      </section>

      <section class="mb-5">
        <h3>Title II &ndash; Keepers and Entry Fees</h3>
        <dl>
          <dt>200.</dt>
          <dd>In the offseason, each manager is allowed to select 6 players from their active roster to keep for the upcoming year.</dd>

          <dt>201.</dt>
          <dd>The date on which keepers are due will be determined by the commissioner and the league will be notified with ample time to plan accordingly.</dd>

          <dt>202.</dt>
          <dd>Each manager has the ability to trade away or trade for 1 additional keeper spot.</dd>
        </dl>
      </section>

      <section class="mb-5">
        <h3>Title III &ndash; The Draft</h3>
        <dl>
          <dt>300.</dt>
          <dd>The league will hold an auction draft each year.</dd>

          <dt>301.</dt>
          <dd>The draft will take place prior to opening day. All efforts will be made to find a date and time that all managers are available to draft; however, a manager that misses the draft will have their team selected by Yahoo! autodraft feature.</dd>

          <dt>302.</dt>
          <dd>Each manager will have a starting budget of $260 per year for the auction draft.</dd>

          <dt>303.</dt>
          <dd>
            <dl class="mt-2">
              <dt>303a.</dt>
              <dd>
                This is the budget prior to the keeper deadline. Each keeper shall reduce the manager&rsquo;s auction budget by the formula: <strong>cost = &frac12;(x&sup2;)</strong>, where x is the number of years since such player debuted in Major League Baseball. For example, going into 2025, it had been ten years since Francisco Lindor debuted and he would thus reduce his manager&rsquo;s auction budget by $50 if kept. The costs per year are:
                <ul class="mt-1">
                  <li>1 year: $0.50</li>
                  <li>2 years: $2.00</li>
                  <li>3 years: $4.50</li>
                  <li>4 years: $8.00</li>
                  <li>5 years: $12.50</li>
                  <li>6 years: $18.00</li>
                  <li>7 years: $24.50</li>
                  <li>8 years: $32.00</li>
                  <li>9 years: $40.50</li>
                  <li>10 years: $50.00</li>
                  <li>11+ years: $60.00</li>
                </ul>
              </dd>
              <dt>303b.</dt>
              <dd>The maximum cost of a keeper shall be $60.</dd>
              <dt>303c.</dt>
              <dd>The total cost of a manager&rsquo;s keepers shall be rounded up to the nearest whole dollar. For example, if Andy&rsquo;s keepers cost $99.50, the cost shall be rounded up to $100.</dd>
              <dt>303d.</dt>
              <dd>Managers may trade money from their future auction budgets.</dd>
              <dt>303e.</dt>
              <dd>Rights players do not cost money for the purposes of the auction draft.</dd>
              <dt>303f.</dt>
              <dd>Players who count as both a hitter and pitcher (e.g., Shohei Ohtani) shall only count as one keeper unless they are owned by different managers.</dd>
              <dt>303g.</dt>
              <dd>
                Players that miss an entire season due to injury shall still accrue an additional year&rsquo;s cost with respect to the formula described in 303a. For example, Eury Perez debuted in 2023, missed the entirety of 2024, and played in 2025; going into 2026, he would cost $4.50 to keep (three years since he debuted).
                <dl class="mt-2">
                  <dt>303g.1.</dt>
                  <dd>A player that debuts in MLB, leaves to play overseas, and returns to MLB shall also count in the same manner (i.e., if a player spends time in the NPB or KBO leagues, that time they spend overseas counts against them).</dd>
                </dl>
              </dd>
              <dt>303h.</dt>
              <dd>The season in which a player debuts counts for purposes of determining the player&rsquo;s cost to keep, except for players that have played in MLB but not accrued enough service time to exceed the rookie minimum.</dd>
            </dl>
          </dd>

          <dt>304.</dt>
          <dd>When it is your turn to draft, you will have 30 seconds to nominate a player. You are not required to take the full amount of allotted time, but it is available if need be. Managers will have 10 seconds to bid on players, with the timer being reset after each bid. The commissioner may change these limits prior to the season.</dd>

          <dt>305.</dt>
          <dd>The minimum bid per player is $1. The maximum bid is an individual&rsquo;s entire budget, minus $1 for each of their unfilled roster spots.</dd>

          <dt>306.</dt>
          <dd>If a manager comes late to a draft or leaves early from a draft, the remainder of their team will be chosen in the same way that a team is chosen when the manager does not show up at all (See rule 301).</dd>
        </dl>
      </section>

      <section class="mb-5">
        <h3>Title IV &ndash; Rights &amp; Franchise Players</h3>
        <dl>
          <dt>400.</dt>
          <dd>Managers will be allowed a maximum of 4 &ldquo;rights&rdquo; players during the 2025 season and subsequent seasons.</dd>

          <dt>401.</dt>
          <dd>
            A manager may claim &ldquo;rights&rdquo; to any minor league or international player prior to the official start time of their first game at the major league level, provided that such player meets the eligibility requirements described in this title. Rights are given on a &ldquo;first come, first serve&rdquo; basis.
            <dl class="mt-2">
              <dt>401a.</dt>
              <dd>A manager may also claim &ldquo;rights&rdquo; to an international or minor league player that has appeared at the major league level if such player did not exceed the rookie threshold during their time at the major league level. The current standard is 130 at bats, 50 innings pitched, or 45 days on the active roster of a Major League club (excluding time in military service or on the disabled list) before September 1. This prohibits managers from adding rights players who are in the minors on rehab assignments, banned substance violations, or any other similar situation.</dd>
              <dt>401b.</dt>
              <dd>If a manager has rights to a player who gets optioned to the minor leagues or has them on their roster when such player is optioned, and such player has not exceeded the service time threshold to be considered a rookie, such manager may add the player to their rights list. Alternatively, the manager has the option of keeping this player on his roster while he is still in the minors.</dd>
            </dl>
          </dd>

          <dt>402.</dt>
          <dd>Rights players do not need to be on a manager&rsquo;s active roster.</dd>

          <dt>403.</dt>
          <dd>Rights players may be traded.</dd>

          <dt>404.</dt>
          <dd>In order to add rights to a player, the manager must post a message to the league Discord channel labeled &ldquo;rights.&rdquo;</dd>

          <dt>405.</dt>
          <dd>
            Once called up, a manager has 14 days to add this player to his roster. After 14 days, the manager loses rights to the player and any manager in the league can add the player to his roster.
            <dl class="mt-2">
              <dt>405a.</dt>
              <dd>A manager is not required to add a player to his roster if the major league regular season ends prior to the expiration of the 14-day window. If such player is called up during the WWPKL playoffs, and the 14-day window expires before the end of the WWPKL playoffs, the manager is responsible for adding the player to their roster or risk losing them to another manager.</dd>
              <dt>405b.</dt>
              <dd>If a minor league player is called up to the major league level during the major league playoffs, after the WWPKL season has ended, and no manager has rights to them, they may not be added to a rights list until after the first pitch of their next minor league game.</dd>
            </dl>
          </dd>

          <dt>406.</dt>
          <dd>A manager is not required to have a rights team.</dd>

          <dt>407.</dt>
          <dd>If a player finishes the season at the major league level, their manager must use a keeper spot to &ldquo;retain&rdquo; them. If a player finishes the season at the minor league level but has appeared at the major league level, their manager may keep them on their rights list provided that they still qualify as a rookie.</dd>

          <dt>408.</dt>
          <dd>Regarding players entering the upcoming MLB Draft, prior to the draft, managers can choose to enter into a weighted lottery for as many players as they desire. The weight will be determined by their teams&rsquo; current performance.</dd>

          <dt>409.</dt>
          <dd>
            Managers may not add rights to players between the keeper submission deadline and the time at which they have drafted a complete roster of 25 players. After they have drafted a complete roster, even if other managers are still drafting, they may add rights to players.
            <dl class="mt-2">
              <dt>409a.</dt>
              <dd>Managers may drop players from their rights list at any time, even during the draft.</dd>
              <dt>409b.</dt>
              <dd>Managers may draft a minor league player and add them to their rights list during the draft, even if they do not yet have a complete major league roster.</dd>
            </dl>
          </dd>
        </dl>
      </section>

      <section class="mb-5">
        <h3>Title V &ndash; Waivers / Free Agents</h3>
        <dl>
          <dt>500.</dt>
          <dd>All players undrafted by league managers will be sent to free agency after completing a waiver period.</dd>

          <dt>501.</dt>
          <dd>Any manager is free to add/drop up to 7 players per week throughout the season, as long as they do not add a player that is on someone else&rsquo;s rights/franchise team (consistent with Title IV). There is no limit to the number of player acquisitions a manager can make per season.</dd>

          <dt>502.</dt>
          <dd>When a player is dropped, that player will be put on waivers for a 24-hour period, during which time any manager may put a claim in on him and the manager with the highest waiver claim number (as determined by Yahoo!, based on previous transactions) will get that player. If the player is unclaimed for the waiver period, he then becomes a free agent, and any manager may claim him at any time.</dd>
        </dl>
      </section>

      <section class="mb-5">
        <h3>Title VI &ndash; Trades</h3>
        <dl>
          <dt>600.</dt>
          <dd>Throughout the season, team owners will be able to make trades with other owners. These trades can involve as many players (including rights players), draft picks, or keeper spots as you wish.</dd>

          <dt>601.</dt>
          <dd>After a trade is agreed upon, one of the managers must post a message on the league Discord channel to notify the entire league.</dd>

          <dt>602.</dt>
          <dd>Anything you own in the keeper league may be traded, including any player on your active or rights roster, auction dollars, or keeper spots.</dd>
        </dl>
      </section>

    </div>
  </div>
</div>
{% endblock %}
