{% extends "base.html" %}

{% block title %}Week By Week{% endblock %}

{% block content %}
  <div class="container">
    <h2>Week By Week Roto Standings - Week {{ week }} of {{ season }}</h2>
    <form method="POST" class="form-inline" role="form" id="lb_form">
      <div class="row mb-3">
        <div class="col-sm-4">
          <select id='season' name='season' onchange="this.form.submit()" class="form-select form-select-sm mb-3">
            {% for year in available_years %}
            <option value="{{ year }}" {{ 'selected' if season == year }}>{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4">
          <select id='week' name='week' onchange="this.form.submit()" class="form-select form-select-sm">
            {% for w in range(1, 26) %}
            <option value="{{ w }}" {{ 'selected' if week == w|string }}>{{ w }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
    <div class="row mb-3">
      <div class="table-responsive">
        {{ tables[0]|safe }}
      </div>
    </div>
  </div>
{% endblock %}
